.jumbotron {
  padding-top: 6rem;
  background-color: #e2edff;
}
#projects {
  background-color: #e2edff;
}
section {
  padding-top: 5rem;
}
div.card a {
  text-decoration: none;
}
div.baris {
  display: flex;
  justify-content: center;
}
hr {
  width: 35vw;
}
div.projects:hover {
  background-color: rgb(192, 237, 245);
  transition: 1s;
  transform: scale(105%);
}
